<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVTAR</title>
</head>
<body>
    Welcome to avtar. This is microcontroller world. Register to explore
    <br>the world.
    <a href="/auth/login">Login</a>
</body>
</html>